:root {
  --buttons-color: #0b6be7;
  --comment-background-color: #e3dede;
}
.modal-container {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#modal-content {
  border-radius: 10px;
  max-width: 500px;
}
.validation-errors {
  color: red;
  text-align: center;
  /* width: 300px; */
}

.modal-container h1 {
  margin-bottom: 1em;
}

.modal-user-info {
  margin-bottom: 2em;
  width: 400px;
  padding-right: 5em;
}
.new-post-form,
.post-input-container {
  width: 100%;
  /* border: 1pt solid red; */
}
.post-input {
  background-color: white;
  width: 90%;
  margin: auto;
  display: block;
  height: 200px;
  padding: 1em;
  margin-bottom: 1em;
  border: none;
}
.post-input-container button {
  border-radius: 10px;
  padding: 0.3em 0.6em;
  border: none;
  background-color: var(--buttons-color);
  color: white;
}

.post-button-div {
  display: flex;
  justify-content: flex-end;
}

.comment-input {
  width: 100%;
  margin: auto;
  padding: 0.3em;
  height: 80px;
  margin-bottom: 2em;
  background-color: var(--comment-background-color);
  border-radius: 10px;
}
.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.new-section-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* padding: 1em; */
  width: 400px;
  align-items: center;
  justify-content: center;
}
.new-section-form label {
  width: 75%;
  margin: 0.3em 0;
}
.new-section-form input,
.new-section-form textarea {
  width: 100%;
}

.new-section-form textarea {
  height: 100px;
}
.new-section-form button {
  background-color: var(--buttons-color);
  color: white;
  border: 0;
  border-radius: 10px;
  padding: 0.3em 0.6em;
  font-weight: 600;
  width: 50%;
  font-size: 12pt;
  margin-top: 1em;
}
