:root {
  --button-color: #0b6be7;
}
.profile-section {
  width: 600px;
  padding: 1em;
  background-color: white;
  border-radius: 10px;
  margin: 1em 0;
}
#profile-container {
  margin: 2em;
}
#profile-container img {
  border-radius: 100%;
  border: 3pt solid white;
  width: 250px;
  object-fit: cover;
  height: 250px;
}

.profile-section-header {
  display: flex;
  justify-content: space-between;
  color: var(--button-color);
}
.profile-section-header button {
  border: none;
  background-color: white;
  cursor: pointer;
  color: var(--button-color);
}
.profile-section-details {
  padding: 1em;
  border-bottom: 1pt solid gray;
  /* border-top: 1pt solid gray; */
}

.profile-container-header {
  display: flex;
  flex-direction: column;
}
.profile-container-info {
  display: flex;
  flex-direction: column;
}

.profile-container-name {
  font-weight: 700;
  font-size: 18pt;
}
.profile-container-title {
  font-weight: 400;
  font-size: 13pt;
}

.profile-skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* column-gap: 1em; */
  row-gap: 1em;
  text-align: center;
  /* margin-top: 1em; */
  padding: 1em;
}

.profile-skills-list {
  /* word-break: break-all; */
  word-spacing: 100%;
  list-style: none;
  font-style: italic;
}

.profile-image-container button {
  border: 1pt solid var(--button-color);
  background-color: white;
  cursor: pointer;
  color: var(--button-color);
  /* padding: 0.5em; */
  padding: 0.2em;
  /* width: 70px; */
  width: fit-content;
  height: 25px;
  border-radius: 10px;
  position: relative;
  bottom: 20px;
  left: 75px;

  /* right: 10px; */
}
.profile-image-container {
  /* float: left; */
  display: flex;
  flex-direction: column;
}
