:root {
  --button-color: #8e8989;
  --icon-color: #0b6be7;
}

.hidden {
  display: none;
}
#nav-bar {
  display: flex;
  width: 85%;
  margin: auto;
  list-style-type: none;
  justify-content: flex-end;
  gap: 1em;
  margin-top: 1.5em;
  background-color: white;
}
#nav-bar a {
  text-decoration: none;
  color: var(--button-color);
}
#nav-bar-background {
  width: 100%;
  background-color: white;
  height: 65px;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}
.nav-bar-list a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-option-text {
  font-size: 11pt;
  margin-top: 1em;
}
#nav-gearbox {
  color: var(--icon-color);
  position: relative;
}

#profile-button {
  border: none;
  background-color: white;
  color: var(--button-color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-bar-logo {
  background-color: var(--icon-color);
  padding: 0.2em;
  color: white;
  border-radius: 5px;
  font-weight: 900;
  font-size: 16pt;
  margin-left: 0.1em;
}
#logo {
  margin-left: 1em;
  cursor: pointer;
  /* margin-right: 3em; */
}
.options-list {
  position: relative;
}
.profile-dropdown {
  background-color: white;
  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
  box-shadow: 3px 4px 12px gray;
  border: 0.5pt solid gray;
  /* padding: 1em; */
  padding: 0.3em 0;
  position: absolute;
  right: 1px;
  top: 2.6em;
  width: 100px;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* bottom: 1em; */
}
.profile-dropdown li {
  padding: 0.7em 0.5em;
  margin: 0.5em auto;
  width: 100%;
  list-style: none;
  /* cursor: pointer; */
  text-align: center;
}
.profile-dropdown li button {
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.3em 0.5em;
}
/* .profile-dropdown li:hover {
  background-color: #e3dede;
} */
