:root {
  --comments-width: 600px;
  --icon-color: #0b6be7;
  --comment-background-color: #e3dede;
}
.comments-container {
  margin: auto;
  width: var(--comments-width);
  background-color: white;
  border: 1pt solid black;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.comments-details-container {
  margin: 1.5em auto;
  padding: 1em;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--comment-background-color);
  width: 70%;
}
.create-comment-container {
  display: flex;
  margin-bottom: 1em;
}
.create-comment-container textarea {
  margin: auto;
  width: 60%;
  height: 60px;
  padding: 0.5em 1em;
  display: inline-block;
  border-radius: 25px;
}
.comment-details-created {
  color: var(--timestampColor);
}
.comments-details-header {
  display: flex;
  justify-content: space-between;
  font-size: 10pt;
}

.comment-details-message {
  /* margin-left: 3em; */
  padding-right: 5em;
  /* padding-left: 1em; */
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 9pt;
}

.details-elips {
  color: var(--icon-color);
  cursor: pointer;
  position: relative;
}
.options {
  position: absolute;
  right: 1em;
  padding: 1em 0;

  display: flex;
  width: 140px;
  flex-direction: column;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: -3px 4px 12px gray;
  border: 0.5pt solid gray;
}
.options button {
  border: none;
  cursor: pointer;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  /* padding-left: 1em; */
  padding: 0.5em;
}
.options button:hover {
  background-color: var(--comment-background-color);
}
.options-details {
  color: black;
  display: flex;
}

.specific-option {
  margin-left: 2em;
}
